/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /* variables */
    --accent-color: #0077C0;
    --dark-color: #0a3854;
    --light-color: #C7EEFF;
    --base-color: white;
    --text-color1: #F3F0FF;
    --text-color2: #1D242B;
}

/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins, Segoe UI, sans-serif; /*in case google fonts malfunction*/
    font-size: 12pt;
}

p {
    font: 1em;
    color: var(--text-color2);
    text-align: justify;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit; 
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

/* header and navigation bar */
header {
    background-color: var(--accent-color);
}

header .navbar {
    display: flex; /*makes it horizontal*/
    padding: 20px;
    align-items: center;
    justify-content: space-between; /* elements are space */
}

.navbar .nav-menu {
    display: flex;
    gap: 20px;
}

.navbar .nav-logo .logo-text {
    color: var(--text-color1);
}

.navbar .nav-menu .nav-link {
    color: var(--text-color1);
    padding: 5px 10px;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--dark-color);
    transition: .5s ease;
}

/* main content */
.contact-section {
    margin-left: 50px;
    margin-top: 30px;
}

/* footer */
.footer-section {
    background-color: var(--dark-color);
    padding: 20px;
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Home {
    color: var(--base-color);
}

.copyright {
    color: var(--base-color);
}

.social-icons {
    display: flex;
    color: var(--base-color);
    gap: 25px;
    size: 100px;
}

.social-icons .social-link:hover {
    color: yellow;
    transition: .5s ease;
}